archstudio/ext/versions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://dana.ucc.nau.edu/jew69/schemas/archstudio/ext/versions.xsd"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:archinst="http://dana.ucc.nau.edu/jew69/schemas/archstudio/core/instance.xsd"
            xmlns:archtypes="http://dana.ucc.nau.edu/jew69/schemas/archstudio/ext/types.xsd"
            xmlns:archimpl="http://dana.ucc.nau.edu/jew69/schemas/archstudio/ext/implementation.xsd"
            targetNamespace="http://dana.ucc.nau.edu/jew69/schemas/archstudio/ext/versions.xsd"
            elementFormDefault="qualified"
            attributeFormDefault="qualified">

  <!-- Import namespaces used -->
  <xsd:import namespace="http://dana.ucc.nau.edu/jew69/schemas/archstudio/core/instance.xsd"
              schemaLocation="http://dana.ucc.nau.edu/jew69/schemas/archstudio/core/instance.xsd"/>
  <xsd:import namespace="http://dana.ucc.nau.edu/jew69/schemas/archstudio/ext/types.xsd"
              schemaLocation="http://dana.ucc.nau.edu/jew69/schemas/archstudio/ext/types.xsd"/>
  <xsd:import namespace="http://dana.ucc.nau.edu/jew69/schemas/archstudio/ext/implementation.xsd"
              schemaLocation="http://dana.ucc.nau.edu/jew69/schemas/archstudio/ext/implementation.xsd"/>

  <xsd:annotation>
    <xsd:documentation>
      xArch Versions XML Schema 1.0
      
      Depends on: {types.xsd, implementation.xsd, variants.xsd}
         Note: The actual dependency set of versioning is
         just types, but because of XSchema 1.0's single inheritance
         limitation, we decided to have it depend on implementation
         and variants as well.  When XSchema 2.0 is released,
         supporting multiple inheritance, this dependency should be
         removed.
      Change Log:
         2002-07-23: Eric M. Dashofy [edashofy@ics.uci.edu]:
           Changed location of core (xArch) schema in the import
           statement to a more stable URL.
         2002-04-21: Eric M. Dashofy [edashofy@ics.uci.edu]:
           Removed child link from nodes, for real this time :)
           Special thanks to Rob Egelink [egelink@ics.uci.edu].
         2002-03-27: Eric M. Dashofy [edashofy@ics.uci.edu]:
           Changed name of "version trees" to "version graphs."
           Removed child link from nodes.  Added optional
           "immutable" boolean attribute to nodes.
           Special thanks to Rob Egelink [egelink@ics.uci.edu].
         2002-01-28: Eric M. Dashofy [edashofy@ics.uci.edu]:
           Upgraded to 2001 XML Schema standard and validated
           with XML Spy 4.2.  Only changes were to the namespace
           declaration for 'xsd' in the header.
         2001-04-12: Eric M. Dashofy [edashofy@ics.uci.edu]:
           Cleaned up and validated with XML Spy 3.5.
         2000-12-07: Eric M. Dashofy [edashofy@ics.uci.edu]:
           Changed name of file from 'versioning.xsd' to
           'versions.xsd' for consistency.
         2000-12-06: Eric M. Dashofy [edashofy@ics.uci.edu]:
           Added 'id' attribute to Node.
           Thanks to Nathan D. Ryan [Nathan.Ryan@colorado.edu].
         2000-12-04: Eric M. Dashofy [edashofy@ics.uci.edu]:
           Removed explicit collection elements and replaced
           them with Kleene-star style elements for greater
           flexibility and extensibility.
         2000-09-28: Eric M. Dashofy [edashofy@ics.uci.edu]:
           Initial Development and validated with XSV

    </xsd:documentation>
  </xsd:annotation>
  
  <!--
    ELEMENT: archVersions
    
    The archVersions element (of type ArchVersions) is the root element
    that is the aegis over all version graphs in the architecture.
    See the ArchVersions type for more detailed information.
   -->
  <xsd:element name="archVersions" type="ArchVersions"/>
  
  <!--
    TYPE: VersionID

    A VersionID is an opaque string containing a version
    identifier for some component, connector, or interface
    type.  You may extend this type to add your own
    version ID schema for your project or organization.
   -->
  <xsd:simpleType name="VersionID">
    <xsd:restriction base="xsd:string">
    </xsd:restriction>
  </xsd:simpleType>

  <!--
    TYPE: Node

    The Node type describes a node in the version graph of
    a component, connector, or interface.  A node consists
    of a version ID, a set of parents of that version, and
    a set of children of that version.  Parents and children
    are represented by XLinks to the parent/child nodes in the
    version graph.

    The attribute 'immutable' declares whether this version
    is immutable or not.
   -->
  <xsd:complexType name="Node">
    <xsd:sequence>
      <xsd:element name="versionID" type="VersionID"/>
      <xsd:element name="parent"    type="archinst:XMLLink"
                   minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="id"        type="archinst:Identifier"/>
    <xsd:attribute name="immutable" type="xsd:boolean"
                   use="optional"/>
  </xsd:complexType>
  
  <!--
    TYPE: ComponentTypeVersionGraph

    The ComponentTypeVersionGraph type describes an element
    that contains a version graph for a particular type
    of component.

    A version graph consists of a unique identifier that serves
    to distinguish a single component type (with all its versions)
    from others, a description of the version graph, and a group of 
    nodes with parent/child relationships.
   -->
  <xsd:complexType name="ComponentTypeVersionGraph">
    <xsd:sequence>
      <xsd:element name="description"    type="archinst:Description"/>
      <xsd:element name="node"           type="Node"
                   minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="id"             type="archinst:Identifier"/>
  </xsd:complexType>
  
  <!--
    TYPE: ConnectorTypeVersionGraph

    The ConnectorTypeVersionGraph type describes an element
    that contains a version graph for a particular type
    of connector.

    A version graph consists of a unique identifier that serves
    to distinguish a single connector type (with all its versions)
    from others, a description of the version graph, and a group of 
    nodes with parent/child relationships.
   -->
  <xsd:complexType name="ConnectorTypeVersionGraph">
    <xsd:sequence>
      <xsd:element name="description"    type="archinst:Description"/>
      <xsd:element name="node"           type="Node"
                   minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="id"             type="archinst:Identifier"/>
  </xsd:complexType>
  
  <!--
    TYPE: InterfaceTypeVersionGraph

    The InterfaceTypeVersionGraph type describes an element
    that contains a version graph for a particular type
    of interface.

    A version graph consists of a unique identifier that serves
    to distinguish a single interface type (with all its versions)
    from others, a description of the version graph, and a group of 
    nodes with parent/child relationships.
   -->
  <xsd:complexType name="InterfaceTypeVersionGraph">
    <xsd:sequence>
      <xsd:element name="description"    type="archinst:Description"/>
      <xsd:element name="node"           type="Node"
                   minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="id"             type="archinst:Identifier"/>
  </xsd:complexType>
  
  <!--
    TYPE: ArchVersions

    The ArchVersions type describes the versioning of all component,
    connector, and interface types in an architecture.  It consists
    of a component type version graph collection, a connector type
    version graph collection, and an interface type version graph
    collection.
   -->
  <xsd:complexType name="ArchVersions">
    <xsd:sequence>
      <xsd:element name="componentTypeVersionGraph"
                   type="ComponentTypeVersionGraph"
                   minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="connectorTypeVersionGraph"
                   type="ConnectorTypeVersionGraph"
                   minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="interfaceTypeVersionGraph"
                   type="InterfaceTypeVersionGraph"
                   minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!--
    TYPE: VariantComponentTypeImplVers
    
    The VariantComponentTypeImplVers type extends the 
    VariantComponentTypeImpl type to add the ability to link to 
    a particular node in a version graph.  The node in the version
    graph describes which version this particular component type
    is describing.
   -->
  <xsd:complexType name="VariantComponentTypeImplVers">
    <xsd:complexContent>
      <xsd:extension base="archimpl:VariantComponentTypeImpl">
        <xsd:sequence>
          <xsd:element name="versionGraphNode" type="archinst:XMLLink"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!--
    TYPE: VariantConnectorTypeImplVers
    
    The VariantConnectorTypeImplVers type extends the 
    VariantConnectorTypeImpl type to add the ability to link to 
    a particular node in a version graph.  The node in the version
    graph describes which version this particular connector type
    is describing.
   -->
  <xsd:complexType name="VariantConnectorTypeImplVers">
    <xsd:complexContent>
      <xsd:extension base="archimpl:VariantConnectorTypeImpl">
        <xsd:sequence>
          <xsd:element name="versionGraphNode" type="archinst:XMLLink"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!--
    TYPE: InterfaceTypeImplVers
    
    The InterfaceTypeImplVers type extends the
    InterfaceTypeImpl type to add the ability to link to 
    a particular node in a version graph.  The node in the version
    graph describes which version this particular interface type
    is describing.
   -->
  <xsd:complexType name="InterfaceTypeImplVers">
    <xsd:complexContent>
      <xsd:extension base="archimpl:InterfaceTypeImpl">
        <xsd:sequence>
          <xsd:element name="versionGraphNode" type="archinst:XMLLink"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

</xsd:schema>
